.header {
  position: sticky;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.05);
}

.nav {
  max-width: 120rem;
  height: 5.6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.72px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 5.4rem;
}

.nav ul li a {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 160%;
}
